<phpunit colors="true"
        bootstrap="tests/_bootstrap.php">
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Builders">
            <directory suffix="Builder.php">builders</directory>
        </testsuite>
    </testsuites>
</phpunit>
