<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.1/phpunit.xsd"
         bootstrap="tests/_bootstrap.php"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="5.6-compat">
            <directory suffix="Test.php" phpVersion="5.6.0" phpVersionOperator=">=">tests/tad/FunctionMocker</directory>
            <exclude>tests/tad/FunctionMocker/codeManipulationTest.php</exclude>
        </testsuite>
        <testsuite name="7.0-compat">
            <directory suffix="Test.php" phpVersion="7.0.0" phpVersionOperator=">=">tests/cli</directory>
            <file phpVersion="7.0.0" phpVersionOperator=">=">tests/tad/FunctionMocker/codeManipulationTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
